<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Futbol en Angular</title>
</head>

<nav>
    <ul>
        <li>
            <a href="">Primera Divison</a>
        </li>
        <li>
            <a href="">B Nacional</a>
        </li>
        <li>
            <a href="">B Metropolitana</a>
        </li>
        <li>
            <a href="">Primera C</a>
        </li>
    </ul>
</nav>