@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-cards {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 5px;
}

.competencia-title {
  padding: 10px;
  background-color: #212121;
  width: 100%;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.card div:nth-child(1) {
  width: 100%;
}

.card div:nth-child(2) {
  display: flex;
}

.card-team-info {
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-width: 200px;
}

.card-team-info img {
  width: 50px;
  padding: 10px;
}

.card-team-info span {
  text-transform: uppercase;
  padding: 20px 10px;
}

.goals {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #424242;
  min-width: 100px;
  max-width: 100px;
  position: relative;
}

.match-status {
  color: white;
  text-align: center;
  background-color: #424242;
}

.goal {
  padding: 10px 15px;
  width: 40% !important;
}

.match-info-button {
  color: black;
}

.container-matchs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.goals span {
  min-width: 0px;
  font-size: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  #container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-cards {
    width: 95%;
    margin: 0;
  }

  .goals {
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 20% !important;
    position: relative;
  }

  .goals .goal {
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    width: 50% !important;
  }

  .goals .goal {
  }

  .goals span {
    min-width: 0px;
    font-size: 8px;
    display: none;
  }

  .card-team-info {
    min-width: 0px;
    max-width: 40%;
    font-size: 12px;
  }

  .card-team-info span {
    text-align: center;
  }

  .card div:nth-child(2) {
    position: relative;
    width: 100%;
    display: flex;
  }
}
